@font-face {
    font-family: 'Dosis'; 
    src: url('../fonts/Dosis-Bold.ttf') format('.ttf')
    url('../fonts/Dosis-Medium.ttf') format('.ttf');
}

@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto-Regular.ttf') format('.ttf')
    url('../fonts/Roboto-Medium.ttf') format('.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background:#f6f8f9;
}

button {
    cursor: pointer;
}

/* ---page-about--- */
.container-page-about {
    height: 550px;
    margin-right: 390px;
    background-image: url('../images/backgroundPageAbout.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-about-wrrapper-first-image {
    margin-left: 20px;
}

.page-about-title-text-button {
    width: 430px;
}

.page-about-title-text-button h1 {
    font-size: 30px;
    color: #fff;
    font-family: Dosis-Medium, sans-serif;
    margin-top: 60px;
}

.page-about-title-text-button h2 {
    margin-top: 30px;
    font-size: 30px;
    color: #fff;
    font-family: Dosis-Bold, sans-serif;
}

.page-about-first-paragraph {
    font-size: 14px;
    color: #c3e9f5;
    font-family: Roboto-Regular, sans-serif;
    line-height: 2;
    margin-top: 60px;
}

.page-about-second-paragraph {
    font-size: 14px;
    color: #c3e9f5;
    font-family: Roboto-Regular, sans-serif;
    line-height: 2;
    margin-top: 20px;
}

.page-about-button {
    width: 160px;
    height: 50px;
    background-color: #fff; 
    border: none;
    border-radius: 8px;
    color: #00a4d3;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-family: Roboto-Medium, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.page-about-button:hover {
    color: #fff;
    background-color: #00a4d3;
    font-family: Roboto-Medium, sans-serif;
}