@font-face {
    font-family: 'Roboto'; 
    src: url('../fonts/Roboto-Regular.ttf') format('.ttf')
    url('../fonts/Roboto-Medium.ttf') format('.ttf')
    url('../fonts/Roboto-Black.ttf') format('.ttf')
    url('../fonts/Roboto-Light.ttf') format('.ttf')
    url('../fonts/Roboto-Bold.ttf') format('.ttf');
}
    
@font-face {
    font-family: 'Dosis'; 
    src: url('../fonts/Dosis-Bold.ttf') format('.ttf')
    url('../fonts/Dosis-Medium.ttf') format('.ttf');
}

@font-face {
    font-family: 'RobotoSlab'; 
    src: url('../fonts/RobotoSlab-Bold.ttf') format('.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    box-sizing: border-box;
}

button, img {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa, .far, .fas {
    font-family: 'Font Awesome 5 Free';
}

.color-for-icons {
    color: #fff;
}

.container {
    padding: 0 390px;
}

/* ---header--- */
.container-header-bg {
    height: 1080px;
    background-image: url('../images/backgroundBlueWhite.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-contacts-and-menu a {
    padding: 0 20px;
    color: #bde7f4;
    text-decoration: none;
}

.header-logo-menu {
    padding: 0 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
    margin-top: 35px;
}

.line {
    width: 705px;
    margin-top: 25px;
    border-bottom: 1px solid #80d2e9; 
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-nav {
    margin-top: 10px;
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.main-nav li a {
    padding: 0 20px;
    color: #bde7f4;
}

.main-nav a:hover {
    color: #fcfefe;
    font-weight: bold;
}  

.header-contacts-register-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-contacts-register-login a:hover {
    color: #fcfefe;
    font-weight: bold;
}

.header-email-phone {
    align-items: flex-start;
}

.header-search-register-login {
    align-items: flex-end;
}

/* ---main-page--- */
.main-page-slider-and-text {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper-img-slider {
    margin-bottom: 58px;
}

.main-page-title-text-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 100px;
}

.main-page-title {
    font-family: Dosis-Bold, sans-serif;
    font-size: 72px;
    color: #00a4d3;
    margin-top: 50px;
}

.main-page-paragraph {
    line-height: 1.5;
    font-family: Dosis-Medium, sans-serif;
    font-size: 48px;
    color: #00a4d3;
    margin-top: 25px;
}

.main-page-button {
    background-color: #00a4d3;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 20px 43px;
    margin-top: 45px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto-Medium, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---page-about--- */
.container-page-about {
    height: 550px;
    background-image: url('../images/backgroundPageAbout.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-about {
    margin-right: 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-about-wrrapper-first-image {
    margin-left: 20px;
}

.page-about-title-text-button {
    width: 430px;
}

.page-about-title-text-button h1 {
    font-size: 30px;
    color: #fff;
    font-family: Dosis-Medium, sans-serif;
    margin-top: 60px;
}

.page-about-title-text-button h2 {
    margin-top: 30px;
    font-size: 30px;
    color: #fff;
    font-family: Dosis-Bold, sans-serif;
}

.page-about-first-paragraph {
    font-size: 14px;
    color: #c3e9f5;
    font-family: Roboto-Regular, sans-serif;
    line-height: 2;
    margin-top: 60px;
}

.page-about-second-paragraph {
    font-size: 14px;
    color: #c3e9f5;
    font-family: Roboto-Regular, sans-serif;
    line-height: 2;
    margin-top: 20px;
}

.page-about-button {
    width: 160px;
    height: 50px;
    background-color: #fff; 
    border: none;
    border-radius: 8px;
    color: #00a4d3;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    font-family: Roboto-Medium, sans-serif;
    font-weight: bold;
    margin-bottom: 40px;
}

.page-about-button:hover {
    color: #fff;
    background-color: #00a4d3;
    font-family: Roboto-Medium, sans-serif;
}

/* ---courses--- */
.courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courses-text-color {
    font-family: Raleway-SemiBold, sans-serif;
    font-size: 15px;
    color: #3f3f3f;
    font-weight: 700;
}

.courses-math-technology-classes {
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courses-english-painting-classes {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.courses-title-text h1 {
    margin-top: 60px;
    font-size: 36px;
    color: #00a4d3; 
    font-family: Dosis-Bold, sans-serif;
    text-transform: uppercase;
}

.courses-title-text p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    font-family: Roboto-Medium, sans-serif;
    font-weight: 600;
}

.courses-title-text {
    width: 500px;
}

.courses-math-technology-classes {
    margin-top: 50px;
}

.courses-width {
    width: 193px;
    margin: 0 40px;
}

.courses-nav {
    margin-top: 15px;
    font-family: Raleway-Medium, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.courses-nav li a {
    color: #00a4d3;
    font-weight: 600;
}

.courses-nav ul {
    list-style: none;
    text-decoration: none;
}

.courses-style-header {
    margin: 25px 0;
    font-family: RobotoSlab-Regular, serif;
    font-size: 24px;
    color: #000;
}

.courses-style-paragraph {
    font-family: Roboto-Regular, sans-serif;
    font-size: 14px;
    color: #898989;
    line-height: 2;
}

.courses-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.courses-button button {
    justify-content: center;
    background-color: #00a4d3;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 20px 43px;
    margin-top: 45px;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    font-family: Roboto-Medium, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* ---icon-feature--- */
.container-icon-feature {
    height: 650px;
    background-image: url('../images/iconFeatureBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-feature {
    margin: 0 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image-and-text {
   width: 475px;
} 

.image-and-text img {
    margin-top: 50px;
}

.image-and-text h1 {
    font-size: 36px;
    color: #fff;
    font-family: Dosis-Bold, sans-serif;
    margin-top: 40px;
}

.image-and-text p {
    font-size: 14px;
    color: #fff;
    font-family: Roboto-Regular, sans-serif;
    margin-top: 35px;
    line-height: 1.5;
}

.icon-rectangle {
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 15px;
}

.icons {
    width: 555px;
    height: 360px;
}

.meal-multi-art {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event-teach-achieve {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon-title {
    font-size: 16px;
    color: #00a4d3;
    font-family: Roboto-Medium, sans-serif;
    margin-top: 10px;
}

.wrapper-img-and-icon-name {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---teacher--- */
.container-teacher {
    margin: 0 390px;
    height: 855px;
}

.teacher-title-text {
    width: 540px;
}

.teacher-title-text h1 {
    margin-top: 60px;
    font-size: 36px;
    color: #00a4d3; 
    font-family: Dosis-Bold, sans-serif;
}

.teacher-title-text p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    font-family: Roboto-Medium, sans-serif;
    font-weight: 600;
}

.teacher-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper-img-name-first {
    margin-top: 70px;
    position: relative;
}

.wrapper-img-name-second {
    margin-top: 35px;
    position: relative;
}

.rounded-left-bottom-corner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 258px;
    height: 47px;
    background: #00a4d3;
    border-bottom-left-radius: 25px;
}

.rounded-right-bottom-corner {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 258px;
    height: 47px;
    background: #00a4d3;
    border-bottom-right-radius: 25px;
}

.rounded-bottom-corners {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 258px;
    height: 47px;
    background: #00a4d3;
    border-radius: 0 0 25px 25px;
}

.teacher-name-note {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teacher-name {
    margin-top: 10px;
    font-size: 20px;
    color: #fff; 
    font-family: Dosis-Bold, sans-serif;
}

.teacher-note {
    margin: 10px 0 0 5px;
    font-size: 12px;
    color: #fff; 
    font-family: Dosis-Medium, sans-serif;
}

/* ---tesmonial--- */
.container-tesmonial {
    height: 750px;
    background-image: url('../images/tesmonialBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tesmonial {
    margin: 0 490px 0 505px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-quotes {
    margin-top: 75px;
}

.tesmonial-title {
    margin-top: 60px;
    font-size: 36px;
    color: #fff;
    font-family: Dosis-Bold, sans-serif;
}

.tesmonial-text {
    font-size: 18px;
    color: #fff;
    font-family: Roboto-Regular, sans-serif;
    margin-top: 45px;
    line-height: 1.5;
}

.img-three-points {
    margin-top: 45px;
}
/* ---news--- */

/* ---key-points--- */

/* ---footer--- */
.container-footer-part-one {
    height: 400px;
    background-image: url('../images/footerBackgroundOnePart.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-footer-part-two {
    height: 800px;
    background-image: url('../images/footerBackgroundTwoPart.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    margin: 0 390px;
}

.footer-submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-sign-up h1 {
    font-size: 16px;
    color: #00a4d3; 
    font-family: Roboto-Medium, sans-serif;
    text-transform: uppercase;
}

.footer-text {
    margin-top: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-copyright-logo-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright-logo-icons img {
    margin-top: 50px;
}

i {
    color: #00a4d3;
    font-size: 36px;
    margin-right: 32px;
}

.footer-instagram {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-instagram h1 {
    font-size: 16px;
    color: #00a4d3; 
    font-family: Roboto-Bold, sans-serif;
    text-transform: uppercase;
}

.footer-rectangles {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.tel-email-web {
    margin-top: 36px;
}

.footer-rectangle {
    margin-top: 60px;
    width: 95px;
    height: 95px;
    background: #00a4d3;
    border-radius: 25px;
}

.footer-copyright {
    font-size: 14px;
    color: #00a4d3; 
    font-family: RobotoSlab-Bold, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.address h1 {
    font-size: 16px;
    color: #1a748f; 
    font-family: RobotoSlab-Bold, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.address p {
    margin-top: 10px;
    font-size: 14px;
    color: #333; 
    font-family: Roboto-Medium, sans-serif;
    line-height: 1.5;
}

.address p:last-child {
    margin-top: 0;
}

.footer-number-styles {
    font-weight: 600;
    font-size: 15px;
}

.footer-text-style {
    font-size: 16px;
    color: #00a4d3; 
    font-family: Roboto-Medium, sans-serif;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 700;
}

.tel-email-web p {
    margin-top: 5px;
    align-items: center;
    font-size: 14px;
    color: #333; 
    font-family: Roboto-Medium, sans-serif;
}

.quicklinks p {
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
    color: #333; 
    font-family: Roboto-Medium, sans-serif;
}

.footer-edit-section-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-edit-section-and-button button {
    justify-content: center;
    background-color: #00a4d3;
    border: none;
    color: #fff;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto-Medium, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.email {
    background-color: #fff;
    border: 1px solid #00a4d3;
    width: 380px;
    height: 47px;
    font-size: 12px;
    padding: 19px;
    font-family: Roboto-Regular, sans-serif;
    margin-right: 10px;
    color: #00a4d3;
}

.quicklinks-nav {
    margin-top: 5px;
    align-items: center;
    font-size: 14px;
    color: #333; 
    font-family: Roboto-Medium, sans-serif;
}

.quicklinks-nav ul {
    list-style: none;
    text-decoration: none;
}

.quicklinks-nav li a {
    color: #333;
    line-height: 1.5;
}

.quicklinks-nav a:hover{
    color: #00a4d3;
}
